:root{
  --clr-neutral-900: hsl(207, 19%, 9%);
  /* --clr-neutral-900: #13171b; */
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-400: hsl(142, 90%, 61%);
  @import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;400;500&display=swap');
  font-family: 'Urbanist', sans-serif;
}

*::-webkit-scrollbar{
  scrollbar-width: thin;
}

*::before,
*::after{
  box-sizing: border-box;
}

body{
  background-color: #f3fafb;
}

.outer{
  height: 100vh;
  width: 100vw;
  z-index: 1;
  position: fixed;
  background-color: rgb(62, 62, 62, 0.56);
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.container{
  z-index: auto;
}

.hover:container{
  transform: scale(1.5);
}

.header{
  position: absolute;
  display: flex;
  flex : 1;
  min-width: 684px;
  width: 100vw;
  justify-content: space-between;
  height: 105px; 
  background-color:rgba(137, 167, 167, 10);
  top: 0;
  cursor: default;
}

.budget-heading{
  display: flex;
  align-items: center;
  min-width: 200px;
  font-size: 3rem;
  margin-right: auto;
  margin-left: 2rem;
}

.budget-expense-button{
  display: flex;
  min-width: 30%;
  height: 105px;
}

.stack{
  display: flex;
  margin-bottom: 4rem;
  max-width: 70%-90%;
  justify-content: center;
}

.add-budget-button{
  min-width: 50%;
  font-size: 1.5rem;
  background-color: #89A7A7;
  border-width: 0.5px;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  border-color: white;
  color: white;
}

.add-budget-button:hover{
    background-color: #f1f1f1;
    color: black;
    transition: background-color ease 0.3s;  
}

.add-budget-button:hover span{
  transform: translate3d(0,-10px,0);
}

.add-expense-button{
  min-width: 50%;
  font-size: 1.5rem;
  border-width: 0.5px;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  border-color: white;
  background-color: #89A7A7;
  color: white;
}

.add-expense-button:hover{
  background-color: #f1f1f1;
  color: black;
  transition: background-color ease-in-out 0.3s;
}

.add-expense-button:hover span{
transform: translate3d(0,-10px,0);
}

.card-outer{
  width: 100%;
  min-width: 65vw;
  margin-top: 6.3rem;
  background-color: #e6e6e6;
}

.card-grid{
  margin-left: 19%;
  display: flex;
  justify-content: flex-start;
  width: 62vw;
  min-width: 61vw;
  overflow: hidden;
}

.budget-card{
  /* padding: 10px; */
  height: 240px;
  z-index: auto;
  border-radius : 10px;
  min-width: 450px;
  background-color: var(--clr-neutral-900);
  border: solid black 1px;
  transition: transform 500ms ease;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 10px;
}


.budget-card:hover{
  transform: scale(1.05);
}

.budget-card:hover{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.89);
  transition: box-shadow 0.5s ease-in-out;
}

.card-title{
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;  
  color: var(--clr-neutral-100);
}


.title-name-card{
  margin-right: 2rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  font-size: 150%;
  --c:linear-gradient(#f9f9f9 0 0);
  padding-bottom: .30em;
  background: var(--c), var(--c);
  background-size: .3em 0em;
  background-position:50% 100%;
  background-repeat: no-repeat;
  transition: .3s linear, background-size .3s .2s linear;
  cursor: default;
}

.title-name-card:hover{
    background-size: 40% .09em;
    background-position: 10% 100%, 90% 100%;
}


.amount-max-card{
  display: flex;
  align-items: baseline;
  padding-right: 2rem;
  cursor: default;
}

.card-content-body{
  height: 140px;
  margin: 1.2px;
  background: linear-gradient(hsl(0 0% 0% / 0), hsl(276, 4%, 23%), hsl(0 0% 0% / 0));
  top: 20px;
  transform: translateY(60%);
  transition: transform 500ms ease;
}

.budget-card:hover .card-content-body{
  transform: translateY(0);
}

.progress-bar{
  display: flex;
  margin-left: 10px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  animation: progress 1500ms ease-in 1;
  cursor: default;
}

.card-addexpense{
  margin-left: auto;
  margin-top: 10px;
  border-radius: 5px;
  height: 3rem;
  min-width: 30%;
  background-color: rgb(202, 168, 220);
}

.card-addexpense:hover{
  transform: translate3d(0,-5px,0);
  background-color: rgba(114, 114, 114, 0.817);
  transition: background-color ease-in-out 0.1s;
  transition: transform 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55);
}

.card-addexpense:hover span{
  transform: translate3d(0,-10px,0);
}

.card-viewexpense{
  border-radius: 5px;
  margin-top: 10px;
  height: 3rem;
  min-width: 30%;
  margin-left: 10px;
  margin-right: 2rem;
}

.card-viewexpense:hover{
  transform: translate3d(0,-5px,0);
  background-color: rgba(114, 114, 114, 0.817);
  transition: background-color ease-in-out 0.1s;
  transition: transform 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55);
}

.card-viewexpense:hover span{
  transform: translate3d(0,-10px,0);
}
  
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  padding: 1rem;
  background-color: #759999;
  color: white;
  height: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.arrow{
    width: 50px;
    height: 50px;
    background-color: rgb(216, 212, 202);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top : 0;
    margin: 220px 60px;
    opacity: 0.6;
    cursor: pointer;
    z-index: 2;
}